<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#2874F0" id="themeColor">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../assets/css/header.css">
</head>

<body>
  <!-- Header -->
  <header id="header-bluebg">
    <nav class="container-fluid bg-primary">
      <div class="container">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="../../assets/img/flipcartlogo.PNG" width="80px">
            </a>
          </div>
        </nav>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg bg-body-tertiary secondNav container-fluid">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=electronics">Electronics <i class="bi bi-chevron-down"></i><i
                  class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=appliances">TVs & Appliances <i class="bi bi-chevron-down"></i><i
                  class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=men">Men <i class="bi bi-chevron-down"></i><i class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=women">Women <i class="bi bi-chevron-down"></i><i class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=kids">Baby & Kids <i class="bi bi-chevron-down"></i><i
                  class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=home">Home & Furniture <i class="bi bi-chevron-down"></i><i
                  class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=books">Sports, Books & More <i class="bi bi-chevron-down"></i><i
                  class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=flights">Flights <i class="bi bi-chevron-down"></i><i
                  class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=offer">Offer Zone <i class="bi bi-chevron-down"></i><i
                  class="bi bi-chevron-up"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../search/?query=grocery">Grocery <i class="bi bi-chevron-down"></i><i
                  class="bi bi-chevron-up"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- javaScript -->
  <script src="../../assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>