section .container {
  background-color: #ffffff25;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(91, 77, 77, 0.1);
  max-width: 100%;
  transition: box-shadow 0.3s ease;
}

section .container:hover {
  box-shadow: 0 8px 16px rgba(91, 77, 77, 0.2); 
}

section h1 {
  color: #1149ff;
  text-align: center;
  margin-bottom: 20px;
}

section .form-group label {
  color: #343a40;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px ;
}

section .form-group label:hover {
  color: #007bff;
}

section .form-control {
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 10px;
  transition: border-color 0.3s ease;
}

section .form-control:focus {
  border-color: #0755ff;
  box-shadow: 0 0 0 0.2rem rgba(12, 82, 163, 0.25);
  outline: none;
}

section .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
section .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
section .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
} 
