body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #FDD86C 8.1%, #FF7D1F 100%);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 100px;
    gap: 200px;
}
#error{
     color: red;
    font-size: 18px;
    text-align: center;
}
input::placeholder{
    margin: 0px;
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
::placeholder{
    color: #0000006B;
}
.form-container {
   background: #FF7D1F63;

    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Poppins;
    color: white;
font-size: 30px;
font-weight: 400;
line-height: 45px;

}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.container img{
    width: 25%;
}
.main{
  min-height: 70vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width:85vw ;
border-radius: 20px;
margin-bottom: 50px !important;
margin:auto;
  background-image: linear-gradient(to right , red 1%, orange 99%) !important;
}

@media only screen and (max-width:1212px){
    .container img{
        width: 40%;
    }
    .container {
        gap: 100px;
    }
}
@media only screen and (max-width:958px){
    .container img{
        width: 50%;
    }
    .container {
        gap: 10px;
    }
}
@media only screen and (max-width:558px){
    .container img{
        width: 70% !important;
    }
    .container{
        margin-top: 120px !important;
    }
    
}
.container{
    margin-top: 50px;
}
@media only screen and (max-width:781px){
    .container img{
        width: 50%;
    }
    .container {
        flex-direction: column;
        gap: 100px;
    }
    .form-container{
        width: 70vw !important;
    }
}
form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    /* border-radius: 5px; */
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: solid 2px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

form textarea {
    resize: none;
    height: 80px;
    color: #0000006B;
    border-bottom: solid 1px;

}
textarea::placeholder{
    color: #0000006B;
}

#rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#comment {
    border-bottom: solid 1px;
}


.star {
    font-size: 2rem;
    cursor: pointer;
    color: black;

}
#rate{
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;

}
#button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #FF7D1F;
    cursor: pointer;
    font-size: 1rem;
}

#button:hover {
    background-color: #333;
}

