* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* footer */
footer {
    /* background: #292d33;  */
    color: #fff;
    font-size: 12px;
}

footer .footerTop {
    padding: 22px;
}

footer .footerTop a {
    text-decoration: none;
    color: #fff;
}

footer .footerTop ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer .footerI h5 {
    color: #878787;
    font-size: 16px;
    margin: 20px 5px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

footer .mailSocial {
    border-left: 1px solid #454d5e;
    padding-left: 32px;
}

footer .social li:hover {
    transform: scale(1.1025);
    background-color: #1b1919;
}

@media screen and (max-width: 991px) {
    footer .mailSocial {
        border-left: none;
        padding-left: 0;
    }
}

footer .footerTop li:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

footer .social ul {
    display: flex;
    align-items: center;
}

footer .social li {
    margin: 5px;
    opacity: 0.75;
}

footer .social a img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
    border-radius: 50%;
}

footer .social a:hover img {
    transform: scale(1.5) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2) drop-shadow(2px 4px 6px black);
}

footer .social ul li:nth-child(1) a:hover {
    color: #0951ed; 
    filter: invert(29%) sepia(89%) saturate(4545%) hue-rotate(187deg) brightness(90%) contrast(103%);
}

footer .social ul li:nth-child(2) a:hover {
    color: rgb(243, 5, 5);
    filter: invert(41%) sepia(98%) saturate(3627%) hue-rotate(328deg) brightness(91%) contrast(103%);
}

footer .social ul li:nth-child(3) a:hover {
    color: rgb(41, 202, 60);
    filter: invert(16%) sepia(73%) saturate(7437%) hue-rotate(450deg) brightness(90%) contrast(98%);
}

footer .footerEnd {
    border-top: 1px solid #454d5e;
    padding: 25px 0;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

footer .footerEnd .col-auto {
    display: flex;
    align-items: center; /* Align items horizontally */
    margin: 0 22px;
}

footer .footerEnd .col-auto img {
    margin-right: 10px; /* Space between icon and text */
}

footer .footerEnd .col-auto a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center; /* Center-align text vertically with the icon */
}

footer .footerEnd .col-auto a:hover img {
    transform: scale(1.1); /* Slightly scale up on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 770px) {
    .pCGSTEF {
        width: 80vw;
    }

    footer .footerEnd {
        flex-flow: column;
        align-items: center; /* Center-align items in column layout */
    }
}

#visitorCount {
    margin-top: 30px;
}

#visitorCount a {
    /* padding: 20px; */
}
