@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color:#f0f5ff;
  --secondary-color: #f1f2f4;
  --accent-color: #1c41d6;
  --accent-color-dark: #0d2998;
  --primary-text-color: #141414;
  --secondary-text-color: #141414;
  --another-text-color: #878787;
  --padding-inline-section: 4px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-text-color);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f2f4;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

form {
  width: 100%;
}

.container {
  width: 100%;
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.hover-links {
  color: var(--primary-text-color);
}

.hover-links:hover {
  transition: 0.3s ease-in-out;
}



#homeHeader {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.homeHeader .nav-item {
  transition: background-color 0.5s ease;
  padding: 9px 13px;
  margin: 0 3px;
}

.homeHeader .nav-link {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px;
  width: 100%;
}

.homeHeader .navtab {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  background-color: #e6eeff;
  border-radius: 5px;
}

.homeHeader .navbar-nav {
  margin-right: auto;
}

.homeHeader #input_data {
  width: 48vw;
  border: none;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
}

.homeHeader #input_data:focus {
  outline: none;
}

.homeHeader .nav-item:hover {
  background-color: transparent;
  transform: none;
  border-bottom: none;
}

.homeHeader .nav-item::before:hover {
  border: #fff;
  transform: none;
  background-color: transparent;
}

.homeHeader .nav-item-divider::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin: 0 10px;
  transition: all 0.4s;
}

.homeHeader .nav-dd:hover {
  background: #ebe8e8;
  border-radius: 10px;
}

.homeHeader .nav-item-divider:last-child::before {
  display: none;
}

.homeHeader .nav-item:hover .homeHeader .nav-item-divider::before {
  background-color: #000;
}

.homeHeader .nav-item-divider::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin: 0 10px;
}

.homeHeader .nav-item-divider:last-child::after {
  display: none;
}

.homeHeader #navbarNav_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartLogoandname{
  position: relative ;
}
#cartItems{
  position: absolute;
    top: 14px;
    left: 14px;
    padding: 0 5px;
    border-radius: 50%;
    background: red;
    width: 18px;
    height: 18px;
    background-color: #ff6161;
    border: 1px solid #fff;
    line-height: 16px;
    font-size: 12px;
    color: #fff;
}


/* Styles for the dropdown menu */
.homeHeader .dropdown-menu {
  position: absolute !important;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 320px;
  width: 100%;
  min-width: 300px;
  z-index: 1000;
  right: 0;
  line-height: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.homeHeader .dropdown-menu-right{
  position: absolute !important;
  background-color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 170px;
  width: 100%;
  min-width: 250px;
  z-index: 1000;
  right: 0;
  line-height: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Styles for the dropdown items */
.homeHeader .dropdown-item {
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  display: block;
  width: 100%;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.homeHeader .acnavdd:hover{
  background-color: #2874f0;
}

.homeHeader .dropdown-item:hover {
  background-color: #f8f9fa;
  /* color: #007bff; */
}

#homeHeader .navbar {
  justify-content: start;
}

@media screen and (min-width: 100px) {
  #homeHeader .navbar {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1184px) {
  #homeHeader .navbar {
    justify-content: space-around;
  }

  .navItem2,
  .navItem3,
  .navItem4,
  .navItem5 {
    margin: 0
  }

}

@media screen and (max-width:995px) {

  .navname3,
  .navname2 {
    display: none;
  }
}

@media screen and (max-width: 770px) {

  .navItem4,
  .navItem5 {
    display: none;
  }

  #searchbar {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    bottom: -44px;

  }

  #searchbar #input_data {
    width: 80vw;
  }

  .homeHeader {
    padding: 0;
    margin: 0;
  }

  #homeHeader .navbar {
    justify-content: start;
  }

  .navname_ac {
    display: none;
  }

}

/* nav bar right btn style */
nav {
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.main-nav {
  justify-content: space-between;
  padding: 13px 0 13px;
  
}

.search-container {
  height: 45px;
  flex-grow: 1;
  background-color: var(--primary-color);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0px 10px;
  border-radius: 0.5rem;
  justify-content: flex-start;
  gap: 0.7rem;
  margin: 0 0 0 3rem;
  outline: none;
  position: relative;
  text-overflow: ellipsis;
}


.recent_Search {
  position: absolute;
  background-color: white;
  height: 370px;
  width: 100%;
  top: 45px;
  margin-left: -15px;
  border-top: 1px solid #ccc;
  display: none;
  padding: 10px;
  z-index: 12;
  box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
  5px 5px 5px rgba(0,0,0,0.1);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.search-container:focus-within .recent_Search{
  display: block;
}

.recent_list{
  display: flex;
  padding: 5px 5px;
  cursor: pointer;
}

.recent_list:hover{
  background-color: var(--primary-color);
}

.recent_list i{
  color:#7a7a7a;
  font-size: 14px;
}

.recent_list p{
  padding-left: 20px;
  font-size: 15px;
  line-height: 12px;
  padding-top: 3px;
}

.more{
  font-size: 14px;
  line-height: 20px;
  padding: 16px 0 4px 8px;
  color: #666;
  font-weight: 600;
}

.list{
  font-size: 14px;
  line-height: 20px;
  padding: 16px 0 4px 8px;
  color: #666;
  font-weight: 600;
}

/*******loginBtn_container**********/
.login_menu_top{
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  margin-bottom: 20px;
}

.login {
  display: inline;
  position: relative;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

/******become a seller***/
.category-div{
  padding-left: 20px;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

.category-div p{
  padding-top: 20px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.icon {
  position: relative;
}

@media (min-width: 768px) and (max-width: 1191px) {
  .category-div {
      padding: 0 6px;
  }
}
