@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,input{
    font-family: 'Poppins', sans-serif;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.container:before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2500px;
    border-radius: 50%;
    background: linear-gradient(-45deg,  #20dbc2 0%, #00bfa6 100%);
    top: -10%;
    right: 50%;
    transform: translateY(-50%);
    z-index: 6;
    transition: 1.8s ease-in-out;
    /* border: 6px solid red; */
}
#popup{
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

#close-button {
    display: block;
    position: absolute;
    top:0;
    font-size: 1rem;
    right: 0;
    padding: 2px 5px;
    color: #000;
    /* background: red; */
    border: none;
    cursor: pointer;
}
#popup span{
    padding: 10px 3px;
    text-align: center;
    color: #15524a;
}

.forms-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50% , -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    transition: 1s 0.7s ease-in-out;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: 0.2s 0.7s ease-in-out;
}

form.sign-in-form{
    z-index: 2;
}

form.sign-up-form{
    z-index: 1;
    opacity: 0;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #181717;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 49px;
    outline: none;
    border: none;
    border-radius: 49px;
    background-color: #20dbc2;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background-color: #00bfa6;
}

.social-text{
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;
}

.social-icon{
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #00bfa6;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icon:hover{
    color: #08a791;
    border-color: #011f5a;
    font-size: 1.6rem;
}


.panels-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel{
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}
.right-panel{
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content{
    color: #fff;
    transition: 0.9s 0.6s ease-in-out;
}


.panel h3{
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p{
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.transparent{
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.image{
    width: 100%;
    transition: 1.1s 0.4s ease-in-out;
}

.right-panel .content, .right-panel .image{
    transform: translateX(800px);
}

/* ANIMATION sTYLING */

.container.sign-up-mode:before{
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(0px);

}

.container.sign-up-mode .left-panel{
    pointer-events: none;
}

.container.sign-up-mode .right-panel{
    pointer-events: all;
}

.container.sign-up-mode .signin-signup{
    left: 25%;
}

.container.sign-up-mode form.sign-in-form{
    z-index: 1;
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form{
    z-index: 2;
    opacity: 1;
}

/* Responsiveness */
@media (max-width: 768px){
    .container{
        min-height: 800px;
        height: 100vh;
    }
    .container:before{
        width: 1500px;
        height: 1500px;
        left: 30%;
        bottom: 68%;
        transform: translateX(-50%);
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    #popup{
        width: 80vw;
        text-align: center;
    }
    .signin-signup{
        width: 100%;
        left: 50%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
        z-index: 12;
    }
    .panels-container{
        z-index: 10;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr ;
    }
    .panel{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
    }

    .panel .content{
        padding-right: 15%;
        transition: 0.9s 0.8s ease-in-out;
    }
    .panel h3{
        font-size: 1.2rem;
    }
    .panel p{
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .btn.transparent{
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .image{
        width: 200px;
        transition: 0.9s 0.6s ease-in-out;
    }
    .left-panel{
        grid-row: 1/2;
    }
    .right-panel{
        grid-row: 3/4;
    }
    .right-panel .content, .right-panel .image{
        transform: translateY(300px);
    }
    .container.sign-up-mode:before{
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content{
        transform: translateY(-300px);
    }
    .container.sign-up-mode .signin-signup{
        top: 5%;
        transform: translate(-50%, 0);
        left: 50%;
    }
}


@media (max-width: 576px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .container {
      padding: 1.5rem;
    }
  
    .container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }