body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.orders {
    padding: 20px;
    text-align: left;
    display: flex;
    animation: fadeIn 1s ease-in-out;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

h1 {
    font-size: 16px;
    color: #000102;
    margin-top: 10px;
    margin-bottom: 10px; /* Corrected the missing unit */
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

header h1 {
    color: blue;
    text-align: center;
}

main ul {
    list-style-type: none;
    padding: 0;
    margin-left:20px;
}

main ul li {
    color: rgb(160, 4, 245);
    margin: 10px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

