/* CSS */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.orders {
    padding: 20px;
    text-align: left;
    /* display: flex; */
}


.bg-img{
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

h1 {
    font-size: 2em;
    color: #2874F0;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

button span{
    font-size: 13px;
    /* padding: 0px 10px; */
}