
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2874f0;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

#search-input {
    border: none;
    padding: 10px;
    outline: none;
    flex: 1;
}

#voice-search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

main {
    padding: 20px;
}

.banner img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.categories {
    margin-top: 20px;
}

.category-container {
    display: flex;
    justify-content: space-around;
}

.category-item {
    text-align: center;
}

.category-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.products {
    margin-top: 20px;
}

.product-container {
    display: flex;
    justify-content: space-around;
}

.product-item {
    text-align: center;
    width: 200px;
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

