* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(255, 255, 255);
}
.categorylist-wrapper {
    width: 100%;
    overflow-x: scroll;
    position: absolute;
    top: 8vh;
    right: 0;
    z-index: 500;
}
.categorylist-wrapper::-webkit-scrollbar {
    display: none;
}
.categories {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(255, 253, 253);
    position: relative;
    padding: 0;
    padding: 0 4%;
    width: 100%;
    min-width:1000px;
    box-shadow: 0 0 10px rgb(206, 206, 206);
}
.categories > li {    align-items: center;

    display: inline-block;
    padding: 20px 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
}
.categories > li > ul {
    display: none;
    position: fixed;
    background-color: rgb(236, 236, 255);
    padding: 15px;
    gap: 15px 5px;
    flex-wrap: wrap;
    width: 100vw;
    height: max-content;
    max-height: 100dvh;
    padding: 0 10%;
    top: 21vh;
    left: 0;
    font-size: 14px;
    overflow: hidden;
    z-index: 500;
}
.categories > li:hover > ul {
    display: flex;
    justify-content: left;
    align-items: stretch;
}
.categories > li:hover {
    /* background-color: rgb(236, 236, 255); */
    color: blue;
}

.categories > li:hover p svg{
    transform: rotate(180deg) !important;
}

.categories > li:hover > ul > li{
    margin: 15px 0;
    flex: 1 1 200px;
    list-style-type: none;        //     {
        //         "id": "luggage",
        //         "name": "Luggage",
        //         "subcategories": ["Suitcases", "Backpacks", "Duffel Bags"]
        //     },
        //     {
        //         "id": "travel-accessories",
        //         "name": "Accessories",
        //         "subcategories": ["Travel Pillows", "Travel Adapters", "Luggage Tags"]
        //     },
        //     {
        //         "id": "travel-essentials",
        //         "name": "Travel Essentials",
        //         "subcategories": ["Passport Holders", "Toiletry Bags", "Travel Bottles"]
        //     }
        // ]
}
.categories > li:hover > ul > li li{
    list-style-type: none;
    margin: 15px 0;
    color: rgb(113, 113, 113);
}
.categories > li:hover > ul  li li:hover {
    color: blue;
}

.categories li img{
    height: 64px;
    width: 64px;
    object-fit: contain;
}

.categories li p{
    font-size: 14px;
    font-weight: 600;
}

.categories li p svg{
    height: 18px;
    width: 18px;
}

.categories li p .category-down-btn.hide{
    display: none;
}