* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.categorylist-wrapper {
    width: 100%;
    overflow-x: scroll;
    position: absolute;
    top: 8vh;
    right: 0;
    z-index: 500;
}

.categorylist-wrapper::-webkit-scrollbar {
    display: none;
}

.categories {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(255, 253, 253);
    position: relative;
    padding: 0;
    padding: 0 4%;
    width: 100%;
    min-width: 1000px;
    box-shadow: 0 0 10px rgb(87, 110, 172);
}

.categories > li {
    display: inline-block;
    padding: 20px 15px;
    cursor: pointer;
}

.categories > li > ul {
    display: none;
    position: fixed;
    background-color: rgb(201, 224, 252) !important;
    padding: 15px;
    gap: 15px 5px;
    flex-wrap: wrap;
    width: 90vw;
    height: max-content;
    max-height: 100vh;
    padding: 0 10%;
    top: 20vh; /* Adjust this value to move the subcategory menu down */
    left: 70px;
    font-size: 14px;
    overflow: hidden;
    z-index: 500;
}

.categories > li:hover > ul {
    display: flex;
    justify-content: left;
    align-items: stretch;
}

.categories > li:hover {
    background-color: #bac8f6;
    transition: all 0.5s;
    border-radius: 20px;
}

.categories > li:hover > ul > li {
    margin: 15px 0;
    flex: 1 1 200px;
    list-style-type: none;
}

.categories > li:hover > ul > li li {
    list-style-type: none;
    margin: 15px 0;
    color: rgb(88, 116, 194);
}

.categories > li:hover > ul li li:hover {
    color: rgb(112, 112, 166);
}

.categories a {
    text-decoration: none;
    color: black;
}

.categories > li > a > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
