/* General styles */
body {
    background-color: #F1F2F4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
#searchbar {
    padding: 6px;
    border-radius: 15px;
    background-color: #e7eefb;
}

#input_data {
    width: 100%;
    padding: 6px; 
    border: none;
    background-color: transparent;
}

#input_data:focus {
    outline: none !important;
    border: none; 
}

.flex-grow {
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.navtab {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 160px;
    height: 40px;
}

.navbar-nav .nav-link img {
    margin-right: 8px;
}




#category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .category {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  .category h3 {
    font-size: 18px; 
    color: #333333; 
  }


footer{
    background-color: rgb(29, 29, 30);
    padding: 10px 60px;
}
.foot-top{
    display: flex;
    border-bottom: 1px solid white;
   flex-wrap: wrap;
}
.foot-left{
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    gap: 7px;
    margin: 25px;
    flex: 1 1 500px;
    flex-wrap: wrap;
}
.foot-left h5{
    font-weight: 400;
    color: #9b9898;

}
.foot-left .about li a{
    color: white;
    font-weight: 600;
    
}
.foot-left .about li{
    list-style: none;
}
.foot-right{
    display: flex;
    margin: 25px;
    flex: 1 1 500px;
    flex-wrap: wrap;gap: 7px;
}
.foot-right h5{
    color: #9b9898;

}
.foot-right .part,
.foot-right .office {
    flex: 1 1 300px;
}
.social ul{
    display: flex;
}
.social ul li{
    list-style: none;
    margin: 0px 10px;
}
.social ul li a{
    color: white;
}
.foot-down{
    margin-top: 20px;

}
.foot-down ul{
    display: flex;
    justify-content: space-between;
}
.foot-down ul li{
    list-style: none;
}
.foot-down ul li a{
    color: white;
}
.foot-left * , .foot-right *{
    font-size: 12px;
}
/* Footer styles */
/* footer {
    background-color: black;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    
}


.social-icons a {
    margin-right: 10px;
    color: white;
}

.payment-icons img {
    width: 50px;
    margin-right: 10px;
} */

/* Dropdown menu styles */
/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
 


@media (max-width: 768px) {
    footer {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .footer-top,
    .footer-bottom {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-section {
        margin-bottom: 12px;
    }

    .footer-section h3 {
        margin-bottom: 8px;
    }
    .footer-section ul {
        list-style-type: none;
        
    }
    .footer-section .social-icons{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
}
} */

#phones {
    display: flex;
    flex-direction: column;
    height: 996;
    width: 300;
    padding: 4px;
    margin: 8px;
  }
  #box {
    display: flex;
    gap: 55px;
    margin: 20px;
  }
  #box img{
      height: 143;
      width: 143;
  }
  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5,
  .box-6,
  .box-7 ,.box-8{
    display: flex;
    flex-direction: column;
    height: 168;
    width: 220;
    margin: 26px 0px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    gap: 10px;
  }
  
  /* new phone section ended */

  #img-box{
    display: flex;
    height: 175;
    padding: 20px;
    margin: 15px;
    gap: 49px;
    
}

