/* General styles */
body {
    background-color: #F1F2F4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
#searchbar {
    padding: 6px;
    border-radius: 15px;
    background-color: #e7eefb;
}

#input_data {
    width: 100%;
    padding: 6px; 
    border: none;
    background-color: transparent;
}

#input_data:focus {
    outline: none !important;
    border: none; 
}

.flex-grow {
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.navtab {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 160px;
    height: 40px;
}

.navbar-nav .nav-link img {
    margin-right: 8px;
}




#category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .category {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  .category h3 {
    font-size: 18px; 
    color: #333333; 
  }

  .details .info{
    line-height: 16px;
    font-size: 12px;
}
.details .info h1{
    font-size: 16px;
    margin-bottom: 10px;
}
.details .info h2{
    font-size: 14px;
    margin-bottom: 10px;
}
.details{
    padding: 30px;
    color: #878787;
    background-color: #f5f5f5;
}


footer{
    background-color: #212121;
footer {
    background-color: rgb(28, 27, 27);
    padding: 15px 35px;
}
.foot-top {
    display: flex;
    border-bottom: 1px solid rgb(85, 78, 78);
   align-items: center;
   justify-content: center;
}
.foot-left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
    flex-wrap: wrap;
}
.foot-left, .foot-right {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 25px;
    flex: 1 1 500px;
    flex-wrap: wrap;

}
.foot-left h5, .foot-right h5 {
    font-size: 12px;
    font-weight: 600;
    color: #9b9898;

}
.foot-left .about li a{
    font-size: 11px;
    color: #ffff;
    font-weight: 530;
    
}
.foot-left .about li, .foot-right .part, .foot-right .office, .social ul li {
    list-style: none;
}

.foot-right{
    width: 50%;
    display: flex;
    border-left: 1px solid rgb(85, 78, 78);
    padding: 30px;
     
}
.foot-right h5{
    color: #9b9898;
.foot-left .about li a, .social ul li a, .foot-down ul li a {
    font-size: 12px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}
.social ul {
    display: flex;
    gap: 10px; 
}
.foot-right {
    border-left: 1px solid rgb(85, 78, 78);
    padding-left: 30px;
}
.foot-down{
    margin-top: 20px;
    display: flex;
    font-size: 11px;
.foot-down {
    padding: 10px 40px;
    display: flex;
    margin-top: 20px;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 500;
}
.foot-down ul{
   display: flex;
   justify-content: space-between;
   gap: 140px;

.foot-down ul {
    display: flex;
    gap: 200px;

}
.payment-icons img {
    height: 15px;
}
/* Tablets and below */
@media (max-width: 768px) {
    footer {
        padding: 15px;
    }
    .foot-top {
        flex-direction: column;
    }
    .foot-left, .foot-right {
        flex: 1 1 auto;
        padding: 15px;
        justify-content: flex-start;
    }
    .foot-right {
        border-left: none;
        padding-left: 0;
    }
    .foot-down {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .foot-down ul {
        flex-direction: column;
        gap: 10px;
    }
    .payment-icons {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .foot-left, .foot-right {
        flex-direction: column;
    }
    .social ul {
        justify-content: center;
    }
    .foot-down ul {
        justify-content: center;
    }
}
/* media query for footer section  */
@media only screen and (max-width: 600px){
    footer{
        flex-direction: column;
        align-items: flex-start;
    }
    .foot-top{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .foot-left{
        padding: 0%;
        flex-direction: column;
    }
    .foot-right{ 
        padding: 0%;
        border: none;
        flex-direction: column;
    }
    .foot-down{
        flex-direction: column;
    }
    .foot-down ul {
        margin-top: 0;
        gap: 25px;
        flex-direction: column;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1191px){
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    .foot-left{
        display: flex;
        flex-wrap: wrap;
    }
    .foot-right{
        display: flex;
        flex-wrap: wrap;
    }
    
   .foot-right{
    border: none;
   }
   .foot-down{
    display: flex;
    flex-wrap: wrap;
   }
}
/* Footer styles
/* footer {
    background-color:#212121 ;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    
}


.social-icons a {
    margin-right: 10px;
    color: white;
}

.payment-icons img {
    width: 50px;
    margin-right: 10px;
} */

/* Dropdown menu styles */
/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #212121;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



@media (max-width: 768px) {
    footer {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .footer-top,
    .footer-bottom {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-section {
        margin-bottom: 12px;
    }

    .footer-section h3 {
        margin-bottom: 8px;
    }
    .footer-section ul {
        list-style-type: none;
        
    }
    .footer-section .social-icons{
        list-style-type: none;
        display: flex;
        flex-direction: column;
 
}
} */

#phones {
    display: flex;
    flex-direction: column;
    height: 996;
    width: 300;
    padding: 4px;
    margin: 8px;
  }
  #box {
    display: flex;
    gap: 55px;
    margin: 20px;
  }
  #box img{
      height: 143;
      width: 143;
  }
  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5,
  .box-6,
  .box-7 ,.box-8{
    display: flex;
    flex-direction: column;
    height: 168;
    width: 220;
    margin: 26px 0px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
    gap: 10px;
  }
  
  /* new phone section ended */

  #img-box{
    display: flex;
    height: 175;
    padding: 20px;
    margin: 15px;
    gap: 49px;
    
}


