/* General styles */
body {
    background-color: #F1F2F4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
#searchbar {
    padding: 6px;
    border-radius: 15px;
    background-color: #e7eefb;
}

#input_data {
    width: 100%;
    padding: 6px; 
    border: none;
    background-color: transparent;
}

#input_data:focus {
    outline: none !important;
    border: none; 
}

.flex-grow {
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.navtab {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 160px;
    height: 40px;
}

.navbar-nav .nav-link img {
    margin-right: 8px;
}

/* Footer styles */
footer {
    background-color: black;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    
}


@media (max-width: 768px) {
    footer {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .footer-top,
    .footer-bottom {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-section {
        margin-bottom: 12px;
    }

    .footer-section h3 {
        margin-bottom: 8px;
    }
    .footer-section ul {
        list-style-type: none;
        
    }
    .footer-section .social-icons{
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }
}

.social-icons a {
    margin-right: 10px;
    color: white;
}

.payment-icons img {
    width: 50px;
    margin-right: 10px;
}

/* Dropdown menu styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
