/* General styles */
body {
    background-color: #F1F2F4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
#searchbar {
    padding: 6px;
    border-radius: 15px;
    background-color: #e7eefb;
}

#input_data {
    width: 100%;
    padding: 6px; 
    border: none;
    background-color: transparent;
}

#input_data:focus {
    outline: none !important;
    border: none; 
}

.flex-grow {
    flex-grow: 1;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.navtab {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 160px;
    height: 40px;
}

.navbar-nav .nav-link img {
    margin-right: 8px;
}
footer{
    background-color: rgb(29, 29, 30);
    padding: 10px 60px;
}
.foot-top{
    display: flex;
    border-bottom: 1px solid white;
   
}
.foot-left{
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    border-right: 1px solid white;
    margin: 25px;
}
.foot-left h5{
    font-size: 1rem;
    font-weight: 400;
    color: #9b9898;

}
#policy{
    margin: 0px 20px;
}
.foot-left .about{
    margin-right: 50px;
}
.foot-left .about li a{
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    
}
.foot-left .about li{
    list-style: none;
}
.foot-right{
    display: flex;
    margin: 25px;
}
.foot-right h5{
    font-size: 1rem;
    font-weight: 400;
    color: #9b9898;

}
.social ul{
    display: flex;
}
.social ul li{
    list-style: none;
    margin: 0px 10px;
}
.social ul li a{
    color: white;
    font-size: 2rem;
}
.foot-down{
    margin-top: 20px;

}
.foot-down ul{
    display: flex;
    justify-content: space-between;
}
.foot-down ul li{
    list-style: none;
}
.foot-down ul li a{
    color: white;
}
/* Footer styles */
/* footer {
    background-color: black;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}

.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
}

.social-icons a {
    margin-right: 10px;
    color: white;
}

.payment-icons img {
    width: 50px;
    margin-right: 10px;
} */

/* Dropdown menu styles */
/* .dropdown-content {
    display: none;
    position: absolute;

    background-color: rgb(148, 179, 181) ;
    height: 0;
    width: 0;
    left: 0;
    bottom: -10px;
    padding: 0 10px;
    transition: 0.3s;
 }
 #sign:hover{
     color:rgb(148, 179, 181) ;
     font-weight: bolder;
     background: var(--main-bg-color);
 }
 
 #sign:hover:after{
    width: 100%;
    height: 3px;
 }



 footer{
    bottom: 0;
    position: fixed;

}

.footerSection {
    max-width: 1719px;
    height: 300px;
    background-color: #212121;
    display: flex;
    border: none;
}
.footerSection p{
    margin: 0;
}
.footerLeft {
    display: flex;
    width: 50%;
    margin-left: 65px;
    justify-content: space-evenly;
}

.footerInfo {
    width: 252px;
    height: 194px;
    padding-top: 40px;
}

.footerInfoHeading {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}

.footerLeft {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
}

.footerRight {
    display: flex;
    width: 50%;
    margin-right: 30px;
    justify-content: space-evenly;
    color: #ffffff;
    font-size: 12px;
    line-height: 2;
    margin: 65px;
    margin-top: -5px;
}
.footerExtras {
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1719px;
    height: 70px;
    color: #ffffff;
    font-size: 14px;
    line-height: 2;
    padding-left: 25px;
    padding-right: 10px;
    border-top: 1px solid #454d5e;
}
.footerInfo a{
    color: #ffffff;
    text-decoration: none;
}
.footerInfo a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.footerExtras span{
    display: flex;
    align-items: center;
    gap: 10px;
}


.footerText{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
=======
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} */

