#para1{
    border: 4px solid orange;
}

nav{
    width:100%;
    background-color: white;
}

*:focus {
    outline: none;
}

#nav_logo{
   width: 50px;
   height: 50px;
}
#fli{
    position: absolute;
    left: -2.5vw;
    top: -2.75vh;
    width: 90px;
    height: 90px;
}
#fli_name{
    position: absolute;
    left: -2vw;
    top: 0.80vh;
}

#nav{
    display: flex;
 justify-content: space-around;
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: white;
 width: 90%;
 margin: auto;
}

#nav1{
    position: relative;
    display: flex;
    flex-direction: column;
}


body{
    background-color: #F1F2F4;
}

#logo_name{
    margin-right: 20px;
}

#input_data{
    border: none;
    width: 500px;
    height: 20px;
    padding-left: 12px;
    background-color: #F0F5FF;
    outline: none;
}

.navtab{
    display: flex;
    align-items: center;
    gap: 2rem;
}

#searchbar{
    background-color: #F0F5FF;
    padding: 8px;
    border-radius: 15px;
}

option{
    font-size: 15px; 
    font-family: sans-serif;
}

select{
    border: none;
    font-size: 15px; 
    font-family: sans-serif;
}


#categories{
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
    margin: 12px;
    margin: auto;
    width: 95%;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    font-family: sans-serif;
}





#categories > div > img{
   height: 70px;
   width: 60px;
   background-color: white;
}

#categories > div{
display: flex;
flex-direction: column;
align-items: center;
font-weight: bold;
font-size: 14px;
padding: 10px;
}

#categories > div > p{
    padding-top: 10px;
}


li{
    list-style: none;
}

#footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 18px;
    padding-top: 18px;
}

a:link {
    text-decoration: none;
    color: white; }
   
    a:hover {
        color: white;
        text-decoration: underline;
    }
.heading{
    color: gray;
}    
  
#seller{
    cursor:pointer; 
    transition:all 0.3s ease-in-out;
    justify-content: space-around;
    position: relative;
 }
 #seller:after{
    content: "";
    position: absolute;
    background-color:rgb(148, 179, 181) ;
    height: 0;
    width: 0;
    left: 0;
    bottom: -10px;
    padding: 0 10px;
    transition: 0.5s;

 }
 #seller:hover{
     color:rgb(148, 179, 181) ;
     font-weight: bolder;
     background: var(--main-bg-color);
 }
 #seller:hover:after{
    width: 100%;
    height: 3px;
 }

 #logo_name{
    cursor: pointer;
    color: #F0F5FF;
 }



 #sign{
    cursor:pointer; 
    transition:all 0.3s ease-in-out;
    justify-content: space-around;
    position: relative;
 }
 #sign:after{
    content: "";
    position: absolute;
    background-color: rgb(148, 179, 181) ;
    height: 0;
    width: 0;
    left: 0;
    bottom: -10px;
    padding: 0 10px;
    transition: 0.3s;
 }
 #sign:hover{
     color:rgb(148, 179, 181) ;
     font-weight: bolder;
     background: var(--main-bg-color);
 }
 
 #sign:hover:after{
    width: 100%;
    height: 3px;
 }

/* .nav-dropdown{
} */

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
  }

/* .dropdown-content::before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--dropdown-background) transparent;
} */

.dropdown-content::after{
content: '';
position: absolute;
top: 0;
left: 25%;
margin-left: -15px;
margin-top: -15px;
width: 0;
z-index: 1;
height: 0;
border-bottom: solid 15px #FFF;
border-left: solid 15px transparent;
border-right: solid 15px transparent;
}
  .dropdown:hover .dropdown-content {
    display: block;
  }
  #sign:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }