@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;
}

:root {
    --primary-color: #2874f0;
}

.container {
    padding: 0 8px;
}

/* header */
header {
    background-color: var(--primary-color);
    height: 56px;
}
header .nav-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}
header .nav-container .logo {
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}
header .nav-container .logo img{
    width: 75px;
}

header .search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
header .search .search-container{
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    display: flex;
}
header .search .search-container input {
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
}
header .search .search-container button {
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

header .login {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
header .login button {
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}
header .become-seller {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

header .more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
header .more svg {
    margin-left: 8px;
    rotate: -90deg;
}

header .cart {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
}
header .cart svg {
    margin-right: 8px;
}

/* section 1 */
.section-1 {
    width: 100%;
    height: 112px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}
.section-1-container{
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.section-1-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}
.section-1-item img {
    width: 64px;
    height: 64px;
}