
#input_data {
  width: 100%;
  /* Adjust the width as needed */
}

.nav-item {
  transition: background-color 0.5s ease;
}

.nav-link {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 20px;
}

.navtab{
  margin-left: 10px;
  padding-left: 10px;
  background-color: #e6eeff;
  border-radius: 10px;
}

.navbar-nav{
  margin-right: auto;
}

#input_data{
  width: 500px;
  border: none;
  background-color: transparent;
  padding: 5px;
}

.nav-item:hover{
  background-color: transparent;
  transform: none;
  border-bottom: none;
}
.nav-item::before:hover{
  border: none;
  transform: none;
  background-color: transparent;
}

