
#input_data {
  width: 400px;
  /* Adjust the width as needed */
}

.nav-link {
  white-space: nowrap;
}

.navtab{
  margin-left: 10px;
  padding-left: 10px;
  background-color: #e6eeff;
  border-radius: 10px;
}

.navbar-nav{
  margin-right: auto;
}

#input_data{
  width: 500px;
  border: none;
  background-color: transparent;
  padding: 5px;
}

.nav-item:hover{
  background-color: transparent;
  transform: none;
  border-bottom: none;
}
.nav-item::before:hover{
  border: none;
  transform: none;
  background-color: transparent;
}
.collapse{
  display: flex;
  flex-direction: row;
}
