body {
    background-color: #f4f4f4;
    padding-left: 570px;
}
.container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 780px; /* Reduced size of card */
}
h1 {
    color: #1149ff;
}
.form-group label {
    color: #343a40;
}
.form-control {
    border: 1px solid #ced4da;
}
.form-control:focus {
    border-color: #0755ff;
    box-shadow: 0 0 0 0.2rem rgba(12, 82, 163, 0.25);
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
      box-shadow: inset 0 0 5px grey; 
          border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
      border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  