*{
    padding: 0%;
    margin: 0%;
}

#outerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   
}

#innerbox{
    display: flex;
    background-color: white;
    width: 60%;
    height: 500px;
}


.leftinnerbox{
    background-color: #2874F0;
    color: white;
    font-family: sans-serif;
    width: 45%;
}

.rightinnerbox{
    font-family: sans-serif;
    width: 55%;
}

.para1{
    margin-top: 35px;font-weight: bold;font-size: 25px;padding-top:40px;width:75%;margin: auto;
}

.para2{
    margin-top: 20px;font-size: 18px;padding-top: 27px;width: 75%;margin: auto;
}
/* Input fields styling */
.mobile,
.name,
.password {
    width: 70%;
    margin-top: 10px;
    height: 25px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
    font-size: 20px;
}

/* Input fields focus styling */
.mobile:focus,
.name:focus,
.password:focus {
    border-color: black;
}

/* Additional styling for the .password field */
.password {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0 0 2px;/* Reduced border width for consistency */
    font-size: 20px;
    text-decoration:none;
}

.textm{
   font-size: 18px;width: 80%;
    margin: auto;padding-top: 10px;
}

