*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

#outerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 100%;
}

#innerbox{
    display: flex;
    background-color: white;
    width: 90%;
    max-width: 800px;
    height: auto;
    margin: 20px;
}

.leftinnerbox{
    background-color: #2874F0;
    color: white;
    font-family: sans-serif;
    width: 50%;
    padding: 20px;
}

.rightinnerbox{
    font-family: sans-serif;
    width: 50%;
    padding: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.input-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    max-width: 300px;
    height: 40px;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.terms {
    margin-top: 20px;
    text-align: center;
}

.textm{
    font-size: 12px;
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
}

.login-button {
    background-color: #FB641B;
    color: white;
    width: 100%;
    max-width: 300px;
}

.signup-button {
    background-color: whitesmoke;
    color: #2874F0;
    width: 100%;
    max-width: 300px;
}
.g-signin2{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
