body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signin-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #ff6700;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff8000;
  }
  
  .signup-link {
    text-align: center;
  }
  
  .signup-link a {
    color: #ff6700;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 500px) {
    .container {
      margin: 50px auto;
      padding: 10px;
    }
    
    .input-group input,
    button {
      padding: 8px;
      font-size: 14px;
    }
  }