/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}
.title {
  position: absolute;
  margin-left: 0;
  padding-left: 0;
  left: 65px;
}
/* #phones h3 {
  position: absolute;
  margin-left: 0;
  padding-left: 0;
  left: 50px;
} */
#heading {
  /* left: 30px;
  position: absolute; */
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 20px;
}
#sub-heading {
  /* left: 30px;
  position: absolute; */
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 24px;
}
/* Footer Styles */
footer {
  background-color: #212121;
  color: #fff;
  padding: 40px 0;
  width: 100%;
}

.nav-link:hover{
  background-color: #80aaed35;
  border-radius: 15px;
}


/* Style for the link */

.nav-item:hover {
  /* background-color: rgb(182, 181, 181); */
  /* text-decoration: none; */
  /* opacity: 0.85; */
  /* transition: all 0.2s ease-in; */
  /* transform:scale(1.1); */
  /* z-index: 1; */
}

/* Style for the link */

.info{
  color: #878787;
  font-size: 12px;
}
.itemSection {
  max-width: 1434px;
  height: 314px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  width: 232px;
  height: 314px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.itemImg {
  height: 200px;
}

.nav-item:hover{
  background-color: #e7eefb;
  border-radius: 20px;
}

.itemDescription {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
}

.buyNowText {
  color: #388e3c;
  padding-top: 8px;
  font-size: 16px;
  text-align: center;
}

.itemHeadName {
  word-wrap: break-word;
  font-size: 30px;
  line-height: 1.38;
  color: #2e2e2e;
  text-align: center;
}

.viewAllSection {
  margin-top: 24px;
  text-align: center;
}

.viewAllButton {
  background: #2874f0;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  border: none;
  height: 38px;
  width: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewAllText {
  font-size: 13px;
}

.line {
  width: 100%;
  border: none;
  border-top: 8px solid rgba(213, 207, 207, 0.617);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
}

.footer-right {
  width: 25%;
}

.vertical-line {
  border-left: 1px solid #444;
  height: 180px;
  margin: 0 20px;
}

.footer-section {
  width: 25%;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.mail-us,
.registered-office {
  margin-bottom: 20px;
}

.mail-us p,
.registered-office p {
  margin: 5px 0;
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 32px;
  margin-left: 10px;
}

.social-icons a:hover {
  color: #3c1aa0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  border-top: 1px solid #444;
  margin-top: 30px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 14px;
}

.payment-icons img {
  height: 24px;
  margin-left: 10px;
}
/* For screen sizes 300px to 600px */
@media screen and (min-width: 300px) and (max-width: 600px) {
  .itemSection {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    width: 45%;
    margin-bottom: 20px;
  }

  .viewAllSection {
    margin-top: 20px;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer-section h3 {
    font-size: 14px;
  }

  .footer-left, .footer-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .vertical-line {
    display: none;
  }
}

/* For screen sizes 610px to 800px */
@media screen and (min-width: 610px) and (max-width: 800px) {
  .itemSection {
    justify-content: space-between;
  }

  .item {
    width: 30%;
  }
}

/* For screen sizes 810px to 1000px */
@media screen and (min-width: 810px) and (max-width: 1000px) {
  .itemSection {
    justify-content: space-evenly;
  }

  .item {
    width: 23%;
  }
}

/* For screen sizes 1010px to 1300px */
@media screen and (min-width: 1010px) and (max-width: 1300px) {
 
}
/* For screen sizes 300px to 600px */
@media screen and (min-width: 300px) and (max-width: 600px) {
  .item {
    width: 100%; /* Display items in a single column */
  }
}

/* For screen sizes 610px to 800px */
@media screen and (min-width: 610px) and (max-width: 800px) {
  .item {
    width: 48%; /* Display items in two columns */
  }
}

/* For screen sizes 810px to 1000px */
@media screen and (min-width: 810px) and (max-width: 1000px) {
  .item {
    width: 31%; /* Display items in three columns */
  }
}

/* For screen sizes 1010px to 1300px */
@media screen and (min-width: 1010px) and (max-width: 1300px) {
  .item {
    width: 23%; /* Display items in four columns */
  }
}
