<html>
<head>
    <link rel="stylesheet" href="footer_.css">
</head>
<div>
    <div class="_1ZMrY_">
        <div>
            <div class="_3I5N7v">ABOUT</div><a href="/helpcentre?otracker=${otracker}_navlinks" class="HlWMPX"
                aria-label="Contact Us">Contact Us</a><a href="https://corporate.flipkart.net/corporate-home"
                class="HlWMPX" aria-label="About Us">About Us</a><a
                href="https://www.flipkartcareers.com/?otracker=${otracker}_navlinks" class="HlWMPX"
                aria-label="Careers">Careers</a><a href="http://stories.flipkart.com/" class="HlWMPX"
                aria-label="Flipkart Stories">Flipkart Stories</a><a
                href="http://stories.flipkart.com/category/top-stories/news/" class="HlWMPX"
                aria-label="Press">Press</a><a href="/corporate-information" class="HlWMPX"
                aria-label="Corporate Information">Corporate Information</a>
        </div>
        <div>
            <div class="_3I5N7v">GROUP COMPANIES</div><a href="https://www.myntra.com/" class="HlWMPX"
                rel="noopener noreferrer" target="_blank" aria-label="Myntra">Myntra</a><a
                href="https://www.cleartrip.com/" class="HlWMPX" rel="noopener noreferrer" target="_blank"
                aria-label="Cleartrip">Cleartrip</a><a href="https://www.shopsy.in" class="HlWMPX"
                rel="noopener noreferrer" target="_blank" aria-label="Shopsy">Shopsy</a>
        </div>
        <div>
            <div class="_3I5N7v">HELP</div><a href="/pages/payments" class="HlWMPX" aria-label="Payments">Payments</a><a
                href="/pages/shipping" class="HlWMPX" aria-label="Shipping">Shipping</a><a
                href="/helpcentre?catalog=55c9c6edb000002e002c1701&amp;view=CATALOG" class="HlWMPX"
                aria-label="Cancellation &amp; Returns">Cancellation &amp; Returns</a><a
                href="/helpcentre?catalog=55c9c8e2b0000023002c1702&amp;view=CATALOG" class="HlWMPX"
                aria-label="FAQ">FAQ</a><a href="https://seller.flipkart.com/fiv?otracker=${otracker}_navlinks"
                class="HlWMPX" aria-label="Report Infringement">Report Infringement</a>
        </div>
        <div>
            <div class="_3I5N7v">CONSUMER POLICY</div><a href="/pages/returnpolicy?otracker=${otracker}_navlinks"
                class="HlWMPX" aria-label="Cancellation &amp; Returns">Cancellation &amp; Returns</a><a
                href="/pages/terms?otracker=${otracker}_navlinks" class="HlWMPX" aria-label="Terms Of Use">Terms Of
                Use</a><a href="/pages/paymentsecurity?otracker=${otracker}_navlinks" class="HlWMPX"
                aria-label="Security">Security</a><a href="/pages/privacypolicy?otracker=${otracker}_navlinks"
                class="HlWMPX" aria-label="Privacy">Privacy</a><a href="/sitemap?otracker=${otracker}_navlinks"
                class="HlWMPX" aria-label="Sitemap">Sitemap</a><a
                href="/pages/grievance-redressal-mechanism?otracker=${otracker}_navlinks" class="HlWMPX"
                aria-label="Grievance Redressal">Grievance Redressal</a><a
                href="/pages/ewaste-compliance-tnc?otracker=${otracker}_navlinks" class="HlWMPX"
                aria-label="EPR Compliance">EPR Compliance</a>
        </div>
        <div class="MkhHNl btl4ck">
            <div class="_3I5N7v">Mail Us:</div>
            <div class="_1UkyFI">
                <p class="_1oQ-r6">Flipkart Internet Private Limited, </p>
                <p class="_1oQ-r6"> Buildings Alyssa, Begonia &amp; </p>
                <p class="_1oQ-r6"> Clove Embassy Tech Village, </p>
                <p class="_1oQ-r6"> Outer Ring Road, Devarabeesanahalli Village, </p>
                <p class="_1oQ-r6"> Bengaluru, 560103, </p>
                <p class="_1oQ-r6"> Karnataka, India</p>
            </div>
            <div class="_3I5N7v">Social:</div>
            <div class="_31kgzK">
                <div class="_2l3nc-"><a href="https://www.facebook.com/flipkart" aria-label="Facebook"><img
                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjkzMzEgMjFDMTcuOTAzNyAyMSAyMS45MzMxIDE2Ljk3MDYgMjEuOTMzMSAxMkMyMS45MzMxIDcuMDI5NDQgMTcuOTAzNyAzIDEyLjkzMzEgM0M3Ljk2MjU0IDMgMy45MzMxMSA3LjAyOTQ0IDMuOTMzMTEgMTJDMy45MzMxMSAxNi45NzA2IDcuOTYyNTQgMjEgMTIuOTMzMSAyMVoiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTE2LjY4MzEgOC4yNUgxNS4xODMxQzE0LjU4NjQgOC4yNSAxNC4wMTQxIDguNDg3MDUgMTMuNTkyMSA4LjkwOTAxQzEzLjE3MDIgOS4zMzA5NyAxMi45MzMxIDkuOTAzMjYgMTIuOTMzMSAxMC41VjIxIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CjxwYXRoIGQ9Ik05LjkzMzExIDEzLjVIMTUuOTMzMSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K"
                            alt="Facebook" width="24" height="24"></a></div>
                <div class="_2l3nc-"><a href="https://www.twitter.com/flipkart" aria-label="Twitter"><img
                            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzE4M18yMCkiPgo8cGF0aCBkPSJNMTMuNTQzNiAxMC42MTc5TDIwLjA5NzEgM0gxOC41NDQxTDEyLjg1MzcgOS42MTQ0OEw4LjMwODg3IDNIMy4wNjY4OUw5LjkzOTY0IDEzLjAwMjNMMy4wNjY4OSAyMC45OTA4SDQuNjE5OTRMMTAuNjI5MSAxNC4wMDU2TDE1LjQyODggMjAuOTkwOEgyMC42NzA4TDEzLjU0MzIgMTAuNjE3OUgxMy41NDM2Wk0xMS40MTY1IDEzLjA5MDRMMTAuNzIwMiAxMi4wOTQ0TDUuMTc5NTMgNC4xNjkxMUg3LjU2NDkxTDEyLjAzNjMgMTAuNTY1MUwxMi43MzI2IDExLjU2MTFMMTguNTQ0OCAxOS44NzQ4SDE2LjE1OTVMMTEuNDE2NSAxMy4wOTA4VjEzLjA5MDRaIiBmaWxsPSJ3aGl0ZSIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzE4M18yMCI+CjxyZWN0IHg9IjMuMDY2ODkiIHk9IjMiIHdpZHRoPSIxNy42MDM5IiBoZWlnaHQ9IjE4IiByeD0iMC4yIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo="
                            alt="Twitter" width="24" height="24"></a></div>
                <div class="_2l3nc-"><a href="https://www.youtube.com/flipkart" aria-label="YouTube"><img
                            src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/YoutubeLogo-8425c4.svg"
                            alt="YouTube" width="24" height="24"></a></div>
            </div>
        </div>
        <div class="MkhHNl">
            <div class="_3I5N7v">Registered Office Address:</div>
            <div>
                <p class="_1oQ-r6">Flipkart Internet Private Limited, </p>
                <p class="_1oQ-r6"> Buildings Alyssa, Begonia &amp; </p>
                <p class="_1oQ-r6"> Clove Embassy Tech Village, </p>
                <p class="_1oQ-r6"> Outer Ring Road, Devarabeesanahalli Village, </p>
                <p class="_1oQ-r6"> Bengaluru, 560103, </p>
                <p class="_1oQ-r6"> Karnataka, India </p>
                <p class="_1oQ-r6"> CIN : U51109KA2012PTC066107 </p>
                <p class="_1oQ-r6"></p>
                <p class="_1oQ-r6"> Telephone: <a href="tel:044-45614700">044-45614700</a> / <a
                        href="tel:044-67415800">044-67415800</a></p>
            </div>
        </div>
    </div>
    <div class="_1HSe4t">
        <div class="c4gehN"><img
                src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/sell-image-9de8ef.svg"
                alt="Become a Seller" width="13" height="12"><a
                href="https://seller.flipkart.com/?utm_source=fkwebsite&amp;utm_medium=websitedirect"
                aria-label="Become a Seller"><span>Become a Seller</span></a></div>
        <div class="c4gehN"><img
                src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/advertise-image-866c0b.svg"
                alt="Advertise" width="14" height="14"><a href="https://brands.flipkart.com"
                aria-label="Advertise"><span>Advertise</span></a></div>
        <div class="c4gehN"><img
                src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/gift-cards-image-d7ff24.svg"
                alt="Gift Cards" width="13" height="13"><a
                href="/the-gift-card-store/index.html" aria-label="Gift Cards"><span>Gift
                    Cards</span></a></div>
        <div class="c4gehN"><img
                src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/help-centre-image-c4ace8.svg"
                alt="Help Center" width="13" height="13"><a href="/helpcentre?otracker=${otracker}_footer_navlinks"
                aria-label="Help Center"><span>Help Center</span></a></div><span class="pCGSTE">© 2007-2024
            <span>Flipkart.com</span></span><img
            src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/payment-method-c454fb.svg"
            alt="Payment methods">
    </div>
</div>
</html>
