#products {
    display: flex;
}

#topmenu>span {
    padding: 5px;
    margin: 5px;
    font-family: sans-serif;
}

#collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

#collection>div {

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 10px;
    padding: 5px;
    border-radius: 8px;
}

.avatar {
    height: 300px;
    width: 150px;
}

.innerbox {
    display: flex;
    justify-content: space-between;
}

#collection>div>img {
    width: 100%;
}