* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to right,whitesmoke,#8faff3);
    margin-top:150px;
}


#outerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#innerbox{
    display: flex;
    background-color: #ffffff;
    width: 70%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.leftinnerbox{
    background-color: black;
    color: #ffffff;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightinnerbox{
    width: 50%;
    padding-left: 50px;
    padding-top: 40px;
}

.para1{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

.para2{
    font-size: 14px;
    margin-bottom: 30px;
}

.para3{
    font-size: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

input[type="number"], input[type="text"], input[type="password"] 
{
    width: 50%;
    text-align: center;
    margin-top: 30px;
    height: 25px;
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
    font-size: 20px;

    
}

input[type="number"]:focus, input[type="text"]:focus, input[type="password"]:focus
{
    border-color: #2874F0; 
}

.textm {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    
}

/* .continue, .login {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #2874F0;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease;
} */

.continue:hover, .login:hover {
    background-color: #1E59D9;
    cursor: pointer;
}
.button-container {
    margin: 10px; /* Adds space around the buttons */
}

/* Common button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
}

/* Primary button style */
.primary-btn {
    background-color: #ffffff;
    color:black ;
    border: 1px solid #2874F0;
    margin-bottom: 10px;
}

/* Secondary button style */
.secondary-btn {
    background-color: #ffffff;
    color: black;
    border: 1px solid #2874F0;
}

/* Hover effect for buttons */
.button:hover {
    cursor: pointer;
}

.primary-btn:hover {
    background-color: #2874F0;
}

.secondary-btn:hover {
    background-color: #1E59D9;
}