body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


tr,
td {
    border: 1px solid black;
}


.faq,
.privacy-policy,
.contact-us {
    margin: 20px 0;
}


p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}

a {
    color: #0066c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}